@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lobster&display=swap');

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 250px;
    background: #8092ba;
    width: 800px;
    border-radius: 35px;

}

.quote{
    padding: 60px 80px;
    color: rgb(31, 32, 33);
    font-size: 32px;
    text-align: center;
    font-family: "Lobster", sans-serif;

}

.author{
    color: white;
    font-size: 30px;
    font-family: "Dancing Script", cursive;
}

.line{
    width: 120px;
    height: 2px;
    background: white;
    margin-top: 0;
    margin-bottom: 2px;
}

.bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}

.btn{
    display: block;
    border: 2px solid #9510ad;
    background: transparent;
    padding: 5px 10px;
    color: #9b5a0f;
    font-size: 20px;
    border-radius: 15px;
    cursor: pointer;
    outline: none;
    transition: background 1s, color 1s;

}