.backgroundImage {
    background-image: url('https://img.freepik.com/premium-photo/colorful-smoke-black-background-with-black-background_27109-1453.jpg?w=1380');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}